<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <h1>Add an Author</h1>
    <form action="/add_author" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="fname">
        Last_name: <input type="text" name="lname">
        Notes: <input type="text" name="notes">
        <button>Add</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
            {% for author in authors %}
            <tr>
                <th>{{author.id}}</th>
                <th>{{author.first_name}} {{author.last_name}}</th>
                <th><a href="/authors/{{author.id}}">View</a></th>
            </tr>
            {% endfor %}
    </table>
</body>
</html>